<%= form_with(url: user_authenticate_path(params[:id]), method: 'post') do |form| %>
  <!-- フォームの中身を追加 -->
  <!-- 現在のユーザー名を表示する -->
  <div class="mb-3">
    <label for="user_name">Name</label>
    <span id="user_name_display"><%= @user.name %></span>
  </div>

  <!-- 現在のユーザーのuuidを表示する -->
  <div class="mb-3">
    <%= form.label :uuid, "uuid" %>
    <span id="uuid"><%= @user.uuid %></span>
  </div>

  <!-- Secret keyword 入力フォーム -->
  <div class="mb-3">
    <%= form.label :secret_keyword, "Secret Keyword" %>
    <%= form.text_field :secret_keyword, class: "form-control", placeholder: "ヒント:ユーザーのUUID" %>
  </div>

  <!-- 本登録ボタン -->
  <%= form.submit "本登録", class: "btn btn-primary", data: { disable_with: "本登録" } %>
<% end %>
